/*
 * Fix
 * Version 0.1.1
 * https://github.com/jaydenseric/Fix
*/
@import url(fonts/clear-sans.css);
/* line 6, ../sass/_helpers.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

/* line 13, ../sass/_helpers.scss */
body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif; }

/* line 18, ../sass/_helpers.scss */
iframe {
  border: 0; }

/* line 21, ../sass/_helpers.scss */
main {
  display: block; }

/* line 24, ../sass/_helpers.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

/* line 30, ../sass/_helpers.scss */
li {
  display: block; }

/* line 33, ../sass/_helpers.scss */
dl {
  margin-top: 0;
  margin-bottom: 0; }

/* line 37, ../sass/_helpers.scss */
dd {
  margin-left: 0; }

/* line 40, ../sass/_helpers.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit; }

/* line 50, ../sass/_helpers.scss */
blockquote {
  margin: 0;
  padding: 0; }

/* line 54, ../sass/_helpers.scss */
p {
  margin-top: 0;
  margin-bottom: 0; }

/* line 58, ../sass/_helpers.scss */
sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

/* line 65, ../sass/_helpers.scss */
strong {
  font-weight: bold; }

/* line 68, ../sass/_helpers.scss */
figure {
  margin: 0; }

/* line 71, ../sass/_helpers.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* line 77, ../sass/_helpers.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 81, ../sass/_helpers.scss */
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible; }

/* line 94, ../sass/_helpers.scss */
::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 6, ../sass/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776E65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

/* line 16, ../sass/styles.scss */
body {
  margin: 80px 0; }

/* line 20, ../sass/styles.scss */
.game-board canvas {
  display: block;
  margin: 30px auto; }
