@import "helpers"; // combination of reset and normalize
@import "fonts/clear-sans.css";

$text-color: #776E65;

html, body {
  margin: 0;
  padding: 0;

  background: #faf8ef;
  color: $text-color;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;;
  font-size: 18px;
}

body {
  margin: 80px 0;
}

.game-board canvas {
  display: block;
  margin: 30px auto;
}
