/*
 * Fix
 * Version 0.1.1
 * https://github.com/jaydenseric/Fix
*/
@import url(fonts/clear-sans.css);
/* line 6, ../sass/_helpers.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

/* line 13, ../sass/_helpers.scss */
body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif; }

/* line 18, ../sass/_helpers.scss */
iframe {
  border: 0; }

/* line 21, ../sass/_helpers.scss */
main {
  display: block; }

/* line 24, ../sass/_helpers.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

/* line 30, ../sass/_helpers.scss */
li {
  display: block; }

/* line 33, ../sass/_helpers.scss */
dl {
  margin-top: 0;
  margin-bottom: 0; }

/* line 37, ../sass/_helpers.scss */
dd {
  margin-left: 0; }

/* line 40, ../sass/_helpers.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit; }

/* line 50, ../sass/_helpers.scss */
blockquote {
  margin: 0;
  padding: 0; }

/* line 54, ../sass/_helpers.scss */
p {
  margin-top: 0;
  margin-bottom: 0; }

/* line 58, ../sass/_helpers.scss */
sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

/* line 65, ../sass/_helpers.scss */
strong {
  font-weight: bold; }

/* line 68, ../sass/_helpers.scss */
figure {
  margin: 0; }

/* line 71, ../sass/_helpers.scss */
img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* line 77, ../sass/_helpers.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 81, ../sass/_helpers.scss */
button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible; }

/* line 94, ../sass/_helpers.scss */
::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* RGB
$color1: rgba(28, 40, 59, 1); // yankees blue
$color2: rgba(227, 206, 205, 1); // dust storm
$color3: rgba(175, 219, 232, 1); // light blue
$color4: rgba(235, 211, 176, 1); // desert sand
$color5: rgba(239, 244, 240, 1); // anti-flash white
*/
/* RGB */
/* line 34, ../sass/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  background: #e6ebe0;
  color: #9facbd;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

/* line 48, ../sass/styles.scss */
.container {
  width: 270px;
  margin: 0 auto; }

/* line 53, ../sass/styles.scss */
h1.title {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  padding-top: 30px;
  display: block;
  float: left;
  text-align: center;
  text-transform: uppercase;
  width: 270px; }

/* line 65, ../sass/styles.scss */
.reset-container {
  float: right;
  text-align: right; }
  /* line 70, ../sass/styles.scss */
  .reset-container #reset-stage {
    position: relative;
    display: inline-block;
    background: #9bc1bc;
    padding: 15px 25px;
    font-size: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center; }

/*
.scores-container {
  float: right;
  text-align: right;
}

.score-container, .best-container {
  $height: 25px;

  position: relative;
  display: inline-block;
  background: $game-container-background;
  padding: 15px 25px;
  font-size: $height;
  height: $height;
  line-height: $height + 22px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

*/
/* line 111, ../sass/styles.scss */
.game-board canvas {
  margin: 30px auto;
  border-radius: 8px; }

/* line 117, ../sass/styles.scss */
.stage-name {
  font-style: bold;
  color: #ed6a5a; }
